.envelope, .container, .banner{
    max-width: 100%;
}

.envelope{
    width: 1024px;
    margin: 0 auto;
    align-items: center;
}

.banner{
    width: 1440px;
    height: 700px;
    background-color:#F5F3F0;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.box1{
    margin: 0 100px;
}

img{
    width: 350px;
    height: 350px;
    border-radius: 100%;
}


.box2{
    align-items: block;
    margin: 213px 165px 263px auto;
}

.box2 h4{
    color: #9E8C6C;
    margin-bottom: -120px;
    font-size: 18px;
}

h2{
    font-size: 126px;
    color: #000000;
    line-height: 1;
}

.btn{
    display: inline-block;
    padding: 20px 50px;
    text-decoration: none;
    background-color: #0699A6;
    color: #FFFFFF;
    font-size: 18px;
    margin-top: -100px;
}

.container{
    width: 1440px;
    display: flex;
}

.container h3{
    font-size: 36px;
}

.quadradinho{
    width: 71px;
    height: 10px;
    background-color: #0699A6;
}

.colunaesquerda{
    padding-right: 40px;
    width: 40%;
}

h4{
    color: #9E8C6C;
    font-size: 20px;
}

p{
    font-size: 20px;
}

ul{
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px;
    list-style: none;
}

li{
    margin-bottom: 10px;
}

.caixa1{
    align-items: center;
}

.caixa3{
    font-size: 23px;
}

.button{
    text-decoration: none;
    color: #0699A6;
    display: block;
    font-size: 20px;
}

.colunadireita{
    width: 60%;
    padding-left: 40px;
    flex-direction: column;
}

caixa5, caixa6{
    padding-bottom: 20px;
}

.rodape{
    background-color: #F5F3F0;
    width: 1440px;
    height: 547px;
    padding: 177px 323px 111.18px 324px;
}

.rodape h2{
    font-size: 66px;
}

.rodape h3{
    font-size: 36px;
    color: #0699A6;
}