*h3{
    color: #9E8C6C;
}

.Banner{
    width: 1440px;
    height: 700px;
    background-color:#F5F3F0;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.box1{
    margin: 180px;
}

img{
    width: 350px;
    height: 350px;
    border-radius: 100%;
}


.box2{
    align-items: block;
    margin: 213px 165px 263px auto;
}